  
  <div (ngSubmit)="addtask()" class="form">
    <form *ngIf="!editTask">
      <input type="text" placeholder="New Task" [(ngModel)]="newTaskDescription" name="desc"  >
      <button class="btn btn-primary"  [disabled]="!newTaskDescription">Add Task</button>
    </form>
  </div>
  <div class="form">
    <form  (ngSubmit)="update()" *ngIf="editTask">
      <input type="text" placeholder="New Task" [(ngModel)]="newTaskDescription" name="desc" >
      <button class="btn btn-primary" [disabled]="!newTaskDescription">Update Task</button>
    </form>
  </div>
<div class="table">
  <table class="table table-striped">
    <thead>
      <tr>
      <th scope="col">Id</th>
      <th scope="col">Description</th>
      <th scope="col">Date ajoutée</th>
      <th scope="col">Completed</th>
    </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let t of tasks">
        <td scope="row">{{t.id}}</td>
        <td>{{t.description}}</td>
        <td>{{t.dateAjoutee | date:'short'}}</td>
        <td><button class="btn"  [ngClass]="t.completed? 'btn-success' : 'btn-danger'" (click)="uncompleted(t)">{{t.completed? 'terminée':'terminer'}}</button>
            <button class="btn btn-primary" (click)="edit(t)">Edit <i class="bi bi-pencil-fill"></i></button>
            <button class="btn btn-danger" (click)="delete(t)">Delete <i class="bi bi-trash3"></i></button>

        </td>
      </tr>
    </tbody>
  </table>
</div>

